/* Add this CSS to your project's stylesheet */

.checkout-container {
    width: 100%;
    max-width: 400px; /* Reduce the maximum width */
    margin: 0 auto;
    padding: 20px;
    background-color: #211d1d;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 20px; /* Reduce the font size */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 13px;
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 30%;
    padding: 10px;
    border: 2px solid #211a1a;
    border-radius: 10px;
}

button {
    display: block;
    width: 10%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Align content at the end */
.form-group:last-child {
    margin-bottom: 0;
    text-align: right;
}
